dist
dist_zip
/Plugin/.vs/EasySkillOptions/FileContentIndex/027beeca-7177-4a95-9b87-0c0f338d2cca.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/3ec32cc7-0ecd-42fe-80cb-b65be372a18c.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/45b84c51-85e2-465f-aa0c-69ea5fde7dd8.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/994803ca-42bd-4fe3-b17d-d351681d47bd.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/9c0049c1-9432-4538-90d9-fc332cb0c133.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/a030dd2e-46fa-4396-aa09-0e1d00328758.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/bc79c757-7662-441b-9fad-561207df4d8d.vsidx
/Plugin/.vs/EasySkillOptions/FileContentIndex/f1a16c75-965f-4446-834b-64e667ddf356.vsidx
/Plugin/.vs/EasySkillOptions/v17/.futdcache.v2
/Plugin/.vs/EasySkillOptions/v17/.suo
/Plugin/.vs/ProjectEvaluation/easyskilloptions.metadata.v7.bin
/Plugin/.vs/ProjectEvaluation/easyskilloptions.projects.v7.bin
