obj
bin
/.vs/ProjectEvaluation/tarkovtools.metadata.v7.bin
/.vs/ProjectEvaluation/tarkovtools.projects.v7.bin
/.vs/TarkovTools/DesignTimeBuild/.dtbcache.v2
/.vs/TarkovTools/FileContentIndex/3f0327a2-2dcd-4776-95bb-d7c16eabb613.vsidx
/.vs/TarkovTools/FileContentIndex/517aded5-dbad-4602-87ec-706ea2b5be4f.vsidx
/.vs/TarkovTools/FileContentIndex/71f5249d-12ce-4bf6-a7ee-be3232ebaace.vsidx
/.vs/TarkovTools/FileContentIndex/8d4dcf1f-1960-4f09-84de-7085d6bd85ca.vsidx
/.vs/TarkovTools/FileContentIndex/read.lock
/.vs/TarkovTools/v17/.futdcache.v2
/.vs/TarkovTools/v17/.suo
